/*
/*/
!/.gitignore
!/README.md
!/Makefile
!/.clang-format

!/src
!/test/
/test/*
#unit_tests src and Makefile
!/test/unit_tests/
/test/unit_tests/*
!/test/unit_tests/src
!/test/unit_tests/Makefile
#external_process_simulator src and Makefile
!/test/external_process_simulator/
/test/external_process_simulator/*
!/test/external_process_simulator/src
!/test/external_process_simulator/Makefile
#examples
#FlatOut 2
!/examples
/examples/*
!/examples/flatout_2_trainer
/examples/flatout_2_trainer/*
!/examples/flatout_2_trainer/src
!/examples/flatout_2_trainer/Makefile
#GTA San Andreas 1.0 US
!/examples
/examples/*
!/examples/gta_sa_trainer
/examples/gta_sa_trainer/*
!/examples/gta_sa_trainer/src
!/examples/gta_sa_trainer/Makefile
